<a href="https://colab.research.google.com/github/genterist/BKT-Jupyter/blob/master/BKT_Implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://brand.ncsu.edu/img/logo/brick2x2.jpg =170x)

## **DEPARTMENT OF COMPUTER SCIENCE - CSC591 FALL 2018 Edu Tech**
	
###TAM N. NGUYEN

In [1]:
# PLEASE RUN THIS FIRST

import sys
version = sys.version_info[0], sys.version_info[1]
print("Running on Python {}.{}".format(version[0], version[1]))

# Imports for all questions
import math as m
import numpy as np
import pandas as pd
#from google.colab import files
#import matplotlib.pyplot as plt
#import altair as alt
#from sklearn import preprocessing, svm
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import LeaveOneOut
#from sklearn import metrics
#from math import sqrt
#from keras.models import Sequential
#from keras.layers import Dense
#from itertools import combinations
#
# ATTENTION
#
# Please read README file to run codes properly in Jupyter Notebook
#
# Running on Google Colab notebook will require manual upload of CSV files to the "Files" section
# in the left column of the interface.

Running on Python 2.7

### DATA IMPORT and PRE-PROCESSING

In [2]:
# for Google Colab, make sure you upload data at the beginning of EACH new session
# make sure you run code block 1 of this jupyter notebook (for imports)
#
raw_data = pd.read_csv('./data.csv', sep=',')
raw_data.shape

(36627, 10)

In [3]:
# original structure
raw_data.head(3)

  Student  StepID  Correct  KC_1  KC_27  KC_24  KC_14  KC_22  KC_20  KC_21
0    stu1     478        0     0      1      0      0      0      0      0
1    stu1     479        1     0      1      0      0      0      0      0
2    stu1     484        1     0      1      0      0      0      0      0

In [4]:
# turning it to a multi-index DF
mod1_data = raw_data.set_index(['Student','StepID'])

#make sure everything is in order
mod1_data.sortlevel(inplace=True)

# insert collumns for the probabilities
# hard-coding of columns is fine here since this is a simulated scenario
# real life situations may involve json or
# regular db which is much more organized

mod1_data.insert(2,'P(L)1',0.0)
mod1_data.insert(3,'P(C)1',0.0)

mod1_data.insert(5,'P(L)27',0.0)
mod1_data.insert(6,'P(C)27',0.0)

mod1_data.insert(8,'P(L)24',0.0)
mod1_data.insert(9,'P(C)24',0.0)

mod1_data.insert(11,'P(L)14',0.0)
mod1_data.insert(12,'P(C)14',0.0)

mod1_data.insert(14,'P(L)22',0.0)
mod1_data.insert(15,'P(C)22',0.0)

mod1_data.insert(17,'P(L)20',0.0)
mod1_data.insert(18,'P(C)20',0.0)

mod1_data.insert(20,'P(L)21',0.0)
mod1_data.insert(21,'P(C)21',0.0)

# only P(C) matter since it has other Probabilities embedded in it

mod1_data.head(5)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  after removing the cwd from sys.path.

                Correct  KC_1  P(L)1  P(C)1  KC_27  P(L)27  P(C)27  KC_24  \
Student StepID
stu1    478           0     0    0.0    0.0      1     0.0     0.0      0
        479           1     0    0.0    0.0      1     0.0     0.0      0
        484           1     0    0.0    0.0      1     0.0     0.0      0
        485           1     0    0.0    0.0      1     0.0     0.0      0
        497           1     0    0.0    0.0      0     0.0     0.0      0

                P(L)24  P(C)24   ...    P(C)14  KC_22  P(L)22  P(C)22  KC_20  \
Student StepID                   ...
stu1    478        0.0     0.0   ...       0.0      0     0.0     0.0      0
        479        0.0     0.0   ...       0.0      0     0.0     0.0      0
        484        0.0     0.0   ...       0.0      0     0.0     0.0      0
        485        0.0     0.0   ...       0.0      0     0.0     0.0      0
        497        0.0     0.0   ...       0.0      1     0.0     0.0      0

                P(L)20  P(C)20  KC_21  P(L)21  P(C)21
Student StepID
stu1    478        0.0     0.0      0     0.0     0.0
        479        0.0     0.0      0     0.0     0.0
        484        0.0     0.0      0     0.0     0.0
        485        0.0     0.0      0     0.0     0.0
        497        0.0     0.0      0     0.0     0.0

[5 rows x 22 columns]

### PROBABILITY FUNCTIONS

![alt text](https://i.imgur.com/DbDMC5d.png)

Credit: wikipedia

u : student \\
k : skill \\
function d: skill mastery \\
function e: correct application of skill in the future

We assume these following parameters are fixed:

P(Lo) = 0.5

P(T) = 0.1

P(S) = 0.1

P(G) = 0.1

per

Hawkins W.J., Heffernan N.T., Baker R.S.J.D. (2014) **Learning Bayesian Knowledge Tracing Parameters with a Knowledge Heuristic and Empirical Probabilities.** In: Trausan-Matu S., Boyer K.E., Crosby M., Panourgia K. (eds) Intelligent Tutoring Systems. ITS 2014. Lecture Notes in Computer Science, vol 8474. Springer, Cham

Previous efforts regarding the science behind the setting of these parameters can be found in papers such as:

Yudelson M.V., Koedinger K.R., Gordon G.J. (2013) I**ndividualized Bayesian Knowledge Tracing Models**. In: Lane H.C., Yacef K., Mostow J., Pavlik P. (eds) Artificial Intelligence in Education. AIED 2013. Lecture Notes in Computer Science, vol 7926. Springer, Berlin, Heidelberg

We can also use machine learning approaches to change these parameters along the way.

In [0]:
P_L0 = 0.5
P_T = 0.1
P_S = 0.1
P_G = 0.1

#function definition here

def P_L_func ( correct, P_L_previous):
  
  if correct==1:
    P_L_obs = (P_L_previous*(1-P_S))/(P_L_previous*(1-P_S) + (1-P_L_previous)*(1-P_G))
  else:
    P_L_obs = (P_L_previous*P_S)/(P_L_previous*P_S + (1-P_L_previous)*(1-P_G))
  
  P_L_current = P_L_obs + (1-P_L_obs)*P_T
  
  return P_L_current

def P_C_func (P_L_previous):
  P_C_current = P_L_previous*(1-P_S) + (1-P_L_previous)*P_G
  
  return P_C_current

### FILLING IN CALCULATED RESULTS

LOREM IPSUM

In [0]:
for Student, stuInfo in mod1_data.groupby(level=[0]):
  rows = len(stuInfo.index)
  row_loc = 0

  print('Student ID: %s' %(Student))
  
  # set the innitial P
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(L)1')] = P_L0
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(C)1')] = P_L0

  stuInfo.iloc[0,stuInfo.columns.get_loc('P(L)27')] = P_L0
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(C)27')] = P_L0

  stuInfo.iloc[0,stuInfo.columns.get_loc('P(L)24')] = P_L0
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(C)24')] = P_L0

  stuInfo.iloc[0,stuInfo.columns.get_loc('P(L)14')] = P_L0
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(C)14')] = P_L0

  stuInfo.iloc[0,stuInfo.columns.get_loc('P(L)22')] = P_L0
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(C)22')] = P_L0

  stuInfo.iloc[0,stuInfo.columns.get_loc('P(L)20')] = P_L0
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(C)20')] = P_L0

  stuInfo.iloc[0,stuInfo.columns.get_loc('P(L)21')] = P_L0
  stuInfo.iloc[0,stuInfo.columns.get_loc('P(C)21')] = P_L0
  
  # now filling in values in a per-column fashion
  for index, row in stuInfo.iterrows():
    
    # the first row was innitialized so we skip it now
    if row_loc >0:
    
      #going over KC_1	
      if stuInfo.iloc[row_loc]['KC_1'] == 0.0:
        #if the skill is not tested then P(L) and P(C) are unchanged and will be copied over
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)1')] = stuInfo.iloc[row_loc-1]['P(L)1']
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)1')] = stuInfo.iloc[row_loc-1]['P(C)1']
      else:
        #if the skill is tested, change P(L) and P(C) accordingly
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)1')] = P_L_func ( stuInfo.iloc[row_loc]['Correct'], stuInfo.iloc[row_loc-1]['P(L)1'])
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)1')] = P_C_func ( stuInfo.iloc[row_loc-1]['P(L)1'])
    
    
      #going over KC_27
      if stuInfo.iloc[row_loc]['KC_27'] == 0.0:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)27')] = stuInfo.iloc[row_loc-1]['P(L)27']
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)27')] = stuInfo.iloc[row_loc-1]['P(C)27']
      else:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)27')] = P_L_func ( stuInfo.iloc[row_loc]['Correct'], stuInfo.iloc[row_loc-1]['P(L)27'])
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)27')] = P_C_func ( stuInfo.iloc[row_loc-1]['P(L)27'])      
    
    
      #going over KC_24	
      if stuInfo.iloc[row_loc]['KC_24'] == 0.0:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)24')] = stuInfo.iloc[row_loc-1]['P(L)24']
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)24')] = stuInfo.iloc[row_loc-1]['P(C)24']
      else:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)24')] = P_L_func ( stuInfo.iloc[row_loc]['Correct'], stuInfo.iloc[row_loc-1]['P(L)24'])
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)24')] = P_C_func ( stuInfo.iloc[row_loc-1]['P(L)24'])
        
      #going over KC_14	
      if stuInfo.iloc[row_loc]['KC_14'] == 0.0:
        #if the skill is not tested then P(L) and P(C) are unchanged and will be copied over
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)14')] = stuInfo.iloc[row_loc-1]['P(L)14']
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)14')] = stuInfo.iloc[row_loc-1]['P(C)14']
      else:
        #if the skill is tested, change P(L) and P(C) accordingly
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)14')] = P_L_func ( stuInfo.iloc[row_loc]['Correct'], stuInfo.iloc[row_loc-1]['P(L)14'])
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)14')] = P_C_func ( stuInfo.iloc[row_loc-1]['P(L)14'])
        
      #going over KC_22	
      if stuInfo.iloc[row_loc]['KC_22'] == 0.0:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)22')] = stuInfo.iloc[row_loc-1]['P(L)22']
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)22')] = stuInfo.iloc[row_loc-1]['P(C)22']
      else:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)22')] = P_L_func ( stuInfo.iloc[row_loc]['Correct'], stuInfo.iloc[row_loc-1]['P(L)22'])
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)22')] = P_C_func ( stuInfo.iloc[row_loc-1]['P(L)22'])
        
      #going over KC_20	
      if stuInfo.iloc[row_loc]['KC_20'] == 0.0:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)20')] = stuInfo.iloc[row_loc-1]['P(L)20']
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)20')] = stuInfo.iloc[row_loc-1]['P(C)20']
      else:
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)20')] = P_L_func ( stuInfo.iloc[row_loc]['Correct'], stuInfo.iloc[row_loc-1]['P(L)20'])
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)20')] = P_C_func ( stuInfo.iloc[row_loc-1]['P(L)20'])
        
      #going over KC_21
      if stuInfo.iloc[row_loc]['KC_21'] == 0.0:
        #if the skill is not tested then P(L) and P(C) are unchanged and will be copied over
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)21')] = stuInfo.iloc[row_loc-1]['P(L)21']
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)21')] = stuInfo.iloc[row_loc-1]['P(C)21']
      else:
        #if the skill is tested, change P(L) and P(C) accordingly
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(L)21')] = P_L_func ( stuInfo.iloc[row_loc]['Correct'], stuInfo.iloc[row_loc-1]['P(L)21'])
        stuInfo.iloc[row_loc,stuInfo.columns.get_loc('P(C)21')] = P_C_func ( stuInfo.iloc[row_loc-1]['P(L)21'])
        
    if row_loc < rows: row_loc += 1
    #print row_loc #this is for step by step visual check
  
  # for checking results of each col
  # make sure "break" in the below line is enabled
  #print(stuInfo['P(L)1'],stuInfo['P(C)1'])
  
  #print(stuInfo.tail(1))
  
  mod1_data.to_csv(Student+'.csv', index=True, header=True, float_format='%.3f')
  #files.download(Student+'.csv')
  print('Saved %s rows' %(rows))
  
  # break here for trouble shooting the first student only
  #break
#mod1_data.head(5)

Student ID: stu1

/usr/local/lib/python2.7/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
stuInfo

                Correct  KC_1     P(L)1     P(C)1  KC_27    P(L)27    P(C)27  \
Student StepID
stu98   464           1     0  0.500000  0.500000      0  0.500000  0.500000
        478           0     0  0.500000  0.500000      1  0.190000  0.500000
        484           1     0  0.500000  0.500000      1  0.271000  0.252000
        485           1     0  0.500000  0.500000      1  0.343900  0.316800
        494           1     0  0.500000  0.500000      0  0.343900  0.316800
        500           0     0  0.500000  0.500000      0  0.343900  0.316800
        531           1     0  0.500000  0.500000      0  0.343900  0.316800
        546           0     0  0.500000  0.500000      0  0.343900  0.316800
        549           1     0  0.500000  0.500000      0  0.343900  0.316800
        550           1     0  0.500000  0.500000      0  0.343900  0.316800
        593           0     0  0.500000  0.500000      0  0.343900  0.316800
        596           1     0  0.500000  0.500000      0  0.343900  0.316800
        597           1     0  0.500000  0.500000      0  0.343900  0.316800
        686           1     0  0.500000  0.500000      0  0.343900  0.316800
        698           1     0  0.500000  0.500000      0  0.343900  0.316800
        709           1     0  0.500000  0.500000      0  0.343900  0.316800
        741           0     0  0.500000  0.500000      0  0.343900  0.316800
        757           1     0  0.500000  0.500000      0  0.343900  0.316800
        770           1     0  0.500000  0.500000      0  0.343900  0.316800
        805           0     0  0.500000  0.500000      0  0.343900  0.316800
        820           1     0  0.500000  0.500000      0  0.343900  0.316800
        863           1     0  0.500000  0.500000      0  0.343900  0.316800
        904           1     0  0.500000  0.500000      0  0.343900  0.316800
        975           0     0  0.500000  0.500000      0  0.343900  0.316800
        992           1     0  0.500000  0.500000      0  0.343900  0.316800
        1067          1     0  0.500000  0.500000      0  0.343900  0.316800
        1297          1     0  0.500000  0.500000      0  0.343900  0.316800
        1304          1     0  0.500000  0.500000      0  0.343900  0.316800
        1310          1     0  0.500000  0.500000      1  0.409510  0.375120
        1317          1     0  0.500000  0.500000      0  0.409510  0.375120
...                 ...   ...       ...       ...    ...       ...       ...
        4249          1     0  0.569533  0.517362      0  0.418711  0.383299
        4256          1     0  0.569533  0.517362      0  0.418711  0.383299
        4267          1     0  0.569533  0.517362      0  0.418711  0.383299
        4280          1     0  0.569533  0.517362      0  0.418711  0.383299
        4287          1     0  0.569533  0.517362      0  0.418711  0.383299
        4289          1     0  0.569533  0.517362      0  0.418711  0.383299
        4290          1     0  0.569533  0.517362      0  0.418711  0.383299
        4291          1     0  0.569533  0.517362      0  0.418711  0.383299
        4292          1     0  0.569533  0.517362      0  0.418711  0.383299
        4414          1     0  0.569533  0.517362      0  0.418711  0.383299
        4416          1     0  0.569533  0.517362      0  0.418711  0.383299
        4418          1     0  0.569533  0.517362      0  0.418711  0.383299
        4452          1     0  0.569533  0.517362      0  0.418711  0.383299
        4459          1     0  0.569533  0.517362      0  0.418711  0.383299
        4464          1     0  0.569533  0.517362      0  0.418711  0.383299
        4492          1     0  0.569533  0.517362      0  0.418711  0.383299
        4526          1     0  0.569533  0.517362      0  0.418711  0.383299
        4532          1     0  0.569533  0.517362      0  0.418711  0.383299
        4607          1     0  0.569533  0.517362      0  0.418711  0.383299
        4656          1     0  0.569533  0.517362      0  0.418711  0.383299
        4770          0     0  0.569533  0.517362      0  0.418711  0.383299
        4772          1     0  0.569533  0.517362      0  0.418711  0.383299
        4777          1     0  0.569533  0.517362      0  0.418711  0.383299
        4787          1     0  0.569533  0.517362      0  0.418711  0.383299
        4835          1     0  0.569533  0.517362      0  0.418711  0.383299
        4854          1     0  0.569533  0.517362      0  0.418711  0.383299
        4913          1     0  0.569533  0.517362      0  0.418711  0.383299
        4938          1     0  0.569533  0.517362      0  0.418711  0.383299
        4958          1     0  0.569533  0.517362      0  0.418711  0.383299
        5037          1     0  0.569533  0.517362      0  0.418711  0.383299

                KC_24    P(L)24    P(C)24    ...       P(C)14  KC_22  \
Student StepID                               ...
stu98   464         1  0.500000  0.500000    ...     0.500000      0
        478         0  0.500000  0.500000    ...     0.500000      0
        484         0  0.500000  0.500000    ...     0.500000      0
        485         0  0.500000  0.500000    ...     0.500000      0
        494         0  0.500000  0.500000    ...     0.500000      0
        500         0  0.500000  0.500000    ...     0.500000      1
        531         0  0.500000  0.500000    ...     0.500000      0
        546         0  0.500000  0.500000    ...     0.500000      0
        549         0  0.500000  0.500000    ...     0.500000      0
        550         0  0.500000  0.500000    ...     0.500000      0
        593         0  0.500000  0.500000    ...     0.500000      1
        596         0  0.500000  0.500000    ...     0.500000      1
        597         0  0.500000  0.500000    ...     0.500000      1
        686         0  0.500000  0.500000    ...     0.500000      1
        698         0  0.500000  0.500000    ...     0.500000      1
        709         0  0.500000  0.500000    ...     0.500000      0
        741         1  0.190000  0.500000    ...     0.500000      0
        757         1  0.271000  0.252000    ...     0.500000      0
        770         0  0.271000  0.252000    ...     0.500000      0
        805         0  0.271000  0.252000    ...     0.500000      0
        820         0  0.271000  0.252000    ...     0.500000      0
        863         0  0.271000  0.252000    ...     0.500000      1
        904         1  0.343900  0.316800    ...     0.500000      0
        975         1  0.149531  0.375120    ...     0.500000      0
        992         1  0.234578  0.219625    ...     0.500000      0
        1067        0  0.234578  0.219625    ...     0.500000      1
        1297        0  0.234578  0.219625    ...     0.500000      0
        1304        1  0.311120  0.287662    ...     0.500000      0
        1310        0  0.311120  0.287662    ...     0.500000      0
        1317        1  0.380008  0.348896    ...     0.500000      0
...               ...       ...       ...    ...          ...    ...
        4249        0  0.137694  0.325873    ...     0.576000      1
        4256        0  0.137694  0.325873    ...     0.576000      1
        4267        0  0.137694  0.325873    ...     0.576000      1
        4280        0  0.137694  0.325873    ...     0.576000      1
        4287        0  0.137694  0.325873    ...     0.576000      1
        4289        0  0.137694  0.325873    ...     0.576000      1
        4290        0  0.137694  0.325873    ...     0.576000      1
        4291        0  0.137694  0.325873    ...     0.576000      1
        4292        0  0.137694  0.325873    ...     0.576000      1
        4414        0  0.137694  0.325873    ...     0.608400      0
        4416        0  0.137694  0.325873    ...     0.637560      0
        4418        0  0.137694  0.325873    ...     0.663804      0
        4452        0  0.137694  0.325873    ...     0.687424      0
        4459        0  0.137694  0.325873    ...     0.708681      0
        4464        0  0.137694  0.325873    ...     0.727813      0
        4492        0  0.137694  0.325873    ...     0.745032      0
        4526        0  0.137694  0.325873    ...     0.760529      0
        4532        0  0.137694  0.325873    ...     0.774476      0
        4607        0  0.137694  0.325873    ...     0.787028      0
        4656        0  0.137694  0.325873    ...     0.798325      0
        4770        0  0.137694  0.325873    ...     0.798325      0
        4772        0  0.137694  0.325873    ...     0.798325      0
        4777        0  0.137694  0.325873    ...     0.798325      0
        4787        0  0.137694  0.325873    ...     0.798325      0
        4835        0  0.137694  0.325873    ...     0.798325      0
        4854        0  0.137694  0.325873    ...     0.798325      0
        4913        0  0.137694  0.325873    ...     0.798325      0
        4938        0  0.137694  0.325873    ...     0.798325      0
        4958        0  0.137694  0.325873    ...     0.798325      0
        5037        0  0.137694  0.325873    ...     0.798325      0

                  P(L)22    P(C)22  KC_20    P(L)20    P(C)20  KC_21  \
Student StepID
stu98   464     0.500000  0.500000      0  0.500000  0.500000      0
        478     0.500000  0.500000      0  0.500000  0.500000      0
        484     0.500000  0.500000      0  0.500000  0.500000      0
        485     0.500000  0.500000      0  0.500000  0.500000      0
        494     0.500000  0.500000      0  0.500000  0.500000      1
        500     0.190000  0.500000      0  0.500000  0.500000      0
        531     0.190000  0.500000      1  0.550000  0.500000      0
        546     0.190000  0.500000      0  0.550000  0.500000      1
        549     0.190000  0.500000      0  0.550000  0.500000      1
        550     0.190000  0.500000      0  0.550000  0.500000      1
        593     0.122861  0.252000      0  0.550000  0.500000      0
        596     0.210575  0.198289      0  0.550000  0.500000      0
        597     0.289517  0.268460      0  0.550000  0.500000      0
        686     0.360566  0.331614      0  0.550000  0.500000      0
        698     0.424509  0.388453      0  0.550000  0.500000      0
        709     0.424509  0.388453      0  0.550000  0.500000      1
        741     0.424509  0.388453      0  0.550000  0.500000      0
        757     0.424509  0.388453      0  0.550000  0.500000      0
        770     0.424509  0.388453      1  0.595000  0.540000      0
        805     0.424509  0.388453      0  0.595000  0.540000      1
        820     0.424509  0.388453      0  0.595000  0.540000      1
        863     0.482058  0.439607      0  0.595000  0.540000      0
        904     0.482058  0.439607      0  0.595000  0.540000      0
        975     0.482058  0.439607      0  0.595000  0.540000      0
        992     0.482058  0.439607      0  0.595000  0.540000      0
        1067    0.533852  0.485647      0  0.595000  0.540000      0
        1297    0.533852  0.485647      1  0.635500  0.576000      0
        1304    0.533852  0.485647      0  0.635500  0.576000      0
        1310    0.533852  0.485647      0  0.635500  0.576000      0
        1317    0.533852  0.485647      0  0.635500  0.576000      0
...                  ...       ...    ...       ...       ...    ...
        4249    0.558927  0.507935      0  0.138538  0.329640      0
        4256    0.603034  0.547142      0  0.138538  0.329640      0
        4267    0.642731  0.582427      0  0.138538  0.329640      0
        4280    0.678458  0.614185      0  0.138538  0.329640      0
        4287    0.710612  0.642766      0  0.138538  0.329640      0
        4289    0.739551  0.668490      0  0.138538  0.329640      0
        4290    0.765596  0.691641      0  0.138538  0.329640      0
        4291    0.789036  0.712477      0  0.138538  0.329640      0
        4292    0.810133  0.731229      0  0.138538  0.329640      0
        4414    0.810133  0.731229      0  0.138538  0.329640      0
        4416    0.810133  0.731229      0  0.138538  0.329640      0
        4418    0.810133  0.731229      0  0.138538  0.329640      0
        4452    0.810133  0.731229      0  0.138538  0.329640      0
        4459    0.810133  0.731229      0  0.138538  0.329640      0
        4464    0.810133  0.731229      0  0.138538  0.329640      0
        4492    0.810133  0.731229      0  0.138538  0.329640      0
        4526    0.810133  0.731229      0  0.138538  0.329640      0
        4532    0.810133  0.731229      0  0.138538  0.329640      0
        4607    0.810133  0.731229      0  0.138538  0.329640      0
        4656    0.810133  0.731229      0  0.138538  0.329640      0
        4770    0.810133  0.731229      1  0.115799  0.210831      0
        4772    0.810133  0.731229      1  0.204220  0.192640      0
        4777    0.810133  0.731229      1  0.283798  0.263376      0
        4787    0.810133  0.731229      1  0.355418  0.327038      0
        4835    0.810133  0.731229      1  0.419876  0.384334      0
        4854    0.810133  0.731229      1  0.477888  0.435901      0
        4913    0.810133  0.731229      1  0.530100  0.482311      0
        4938    0.810133  0.731229      1  0.577090  0.524080      0
        4958    0.810133  0.731229      1  0.619381  0.561672      0
        5037    0.810133  0.731229      1  0.657443  0.595505      0

                  P(L)21    P(C)21
Student StepID
stu98   464     0.500000  0.500000
        478     0.500000  0.500000
        484     0.500000  0.500000
        485     0.500000  0.500000
        494     0.550000  0.500000
        500     0.550000  0.500000
        531     0.550000  0.500000
        546     0.207609  0.540000
        549     0.286848  0.266087
        550     0.358163  0.329478
        593     0.358163  0.329478
        596     0.358163  0.329478
        597     0.358163  0.329478
        686     0.358163  0.329478
        698     0.358163  0.329478
        709     0.422347  0.386530
        741     0.422347  0.386530
        757     0.422347  0.386530
        770     0.422347  0.386530
        805     0.167621  0.437877
        820     0.250859  0.234097
        863     0.250859  0.234097
        904     0.250859  0.234097
        975     0.250859  0.234097
        992     0.250859  0.234097
        1067    0.250859  0.234097
        1297    0.250859  0.234097
        1304    0.250859  0.234097
        1310    0.250859  0.234097
        1317    0.250859  0.234097
...                  ...       ...
        4249    0.127945  0.279075
        4256    0.127945  0.279075
        4267    0.127945  0.279075
        4280    0.127945  0.279075
        4287    0.127945  0.279075
        4289    0.127945  0.279075
        4290    0.127945  0.279075
        4291    0.127945  0.279075
        4292    0.127945  0.279075
        4414    0.127945  0.279075
        4416    0.127945  0.279075
        4418    0.127945  0.279075
        4452    0.127945  0.279075
        4459    0.127945  0.279075
        4464    0.127945  0.279075
        4492    0.127945  0.279075
        4526    0.127945  0.279075
        4532    0.127945  0.279075
        4607    0.127945  0.279075
        4656    0.127945  0.279075
        4770    0.127945  0.279075
        4772    0.127945  0.279075
        4777    0.127945  0.279075
        4787    0.127945  0.279075
        4835    0.127945  0.279075
        4854    0.127945  0.279075
        4913    0.127945  0.279075
        4938    0.127945  0.279075
        4958    0.127945  0.279075
        5037    0.127945  0.279075

[234 rows x 22 columns]